/* Main Body */
body
{
	height: auto;
	width: 100vw;
	background: linear-gradient(to right,#2857a4,#403066 70%);
	color: white;
	margin: 0;
	text-transform: uppercase;
	position: relative;
}
/*Top Row*/
#top-row
{
	position: fixed;
	width: 100vw;
	height: 6vw;
	top: 0;
	background: linear-gradient(to right,#2857a4,#403066 70%);
	z-index: 5;
}

/* Inline Class */
.inline-elements
{
	display: inline-block;
}

/* Website Logo */
#website-logo
{
	margin-left: 2vw;
	width: 5vw;
}

@keyframes rotating
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(10000000000deg);
	}
}

#website-logo-image
{
	position: absolute;
	top: 0.7vw;
	font-size: 4vw;
}

#website-logo-image a
{
	color: white;
}

#website-logo-image i
{
	animation: rotating 30000000s infinite;
	width: 101%;
}

#website-logo-top-heading
{
	position: absolute;
	top: 1.6vw;
	left: 6.5vw;
	font-size: 1.2vw;
	font-weight: 100;
}

#website-logo-bottom-heading
{
	position: absolute;
	left: 6.5vw;
	top: 3vw;
	font-size: 1.5vw;
	font-weight: 700;
}

/* Favourites */
#favourites
{
	position: absolute;
}

#favourites-text
{
	position: absolute;
	left: 15vw;
	top: 2vw;
	font-size: 1.5vw;
}

#favourites-replace
{
	display: none;
	position: absolute;
	left: 11vw;
	top: 2vw;
	font-size: 3vw;
}

/* Search Box */
#search-box
{
	position: absolute;
	top: 1vw;
	right: 19vw;
	width: 25vw;
	border: 2px solid black;
	border-radius: 20vw;
	height: 3vw;
	background-color: rgba(20, 25, 58, 0.7);
}

#search-icon
{
	position: absolute;
	left: 1.5vw;
	top: 0.8vw;
	font-size: 1.5vw;
}

#search-text
{
	position: absolute;
	left: 5vw;
	top: 0.6vw;
	font-size: 1.5vw;
}

#search-text-input
{
	position: relative;
	border: none;
	background-color: transparent;
	outline: none;
	color: white;
	width: 15vw;
	font-size: 1.5vw;
}

#search-mic
{
	position: absolute;
	right: 1.5vw;
	top: 0.8vw;
	font-size: 1.5vw;
}

/* Notification */
#notification-logo
{
	position: absolute;
	top: 1.5vw;
	right: 12vw;
	height: 5vh;
}

#notification-logo i
{
	font-size: 3vw;
}

#notification-dot
{
	background-color: red;
	height: 1vw;
	width: 1vw;
	border-radius: 50%;
	position: absolute;
	left: 1.5vw;
	top: 0.2vw;
}

/* Account Picture */
#Account-Picture
{
	position: absolute;
	top: 0.7vw;
	right: 2vw;
}

#Account-Picture img
{
	width: 4.5vw;
	border: 1px solid white;
	border-radius: 50px;
}

/* Main Content */
main
{
	height: auto;
	text-align: center;
	margin-top: 6vw;
	position: relative;
	margin-bottom: 5.5vw;
}


content
{
	display: inline-block;
	margin-left: -26vw;
	height: auto;
	width: 64vw;
}

/* Artist Contents */
#main-big-content
{
	height: 25vw;
	width: 100%;
	position: relative;
	background-color: rgba(20, 25, 58, 0.7);
}

/* Artist Image */
#main-big-content-img img
{
	height: 100%;
	width: 100%;
}

#main-big-content-left-div
{
	position: absolute;
	left: 0;
	height: 100%;
	width: 40%;
	overflow: hidden;
}

#main-big-content-right-div
{
	position: absolute;
	right: 0;
	height: 100%;
	width: 60%;
}

/* Artist Details */
#playlist-name
{
	font-size: 2vw;
	position: absolute;
	bottom: 80%;
	left: 10%;
}

#playlist-followers
{
	font-size: 1vw;
	position: absolute;
	bottom: 80%;
	right: 10%;
}

#band-name
{
	font-size: 1vw;
	position: absolute;
	bottom: 75%;
	left: 10%;
}

#main-big-content-para
{
	font-size: 1vw;
	position: absolute;
	top: 25%;
	left: 10%;
	padding-right: 10%;
	text-align: left;
	text-transform: capitalize;
	line-height: 1.7vw;
}

#playall-button
{
	font-size: 1.3vw;
	position: absolute;
	bottom: 25%;
	left: 12%;
	border: 1px solid black;
	border-radius: 20px;
	padding: 0.6vw 2.5vw;
	background: linear-gradient(to right,#2857a4,rgb(253, 110, 255));
}

#follow-button
{
	font-size: 1.3vw;
	position: absolute;
	bottom: 25%;
	left: 45%;
	border: 1px solid transparent;
	border-radius: 20px;
	padding: 0.6vw 2.5vw;
}

#follow-button:hover
{
	background-color: whitesmoke;
	color: black;
}

#main-big-content-bottom-line
{
	font-size: 1vw;
	position: absolute;
	bottom: 15%;
	left: 10%;
}

/* Queue Section */
#queue-section
{
	margin-top: 1vw;
	width: 100%;
	height: auto;
}

#queue-row
{
	display: flex;
	flex-direction: column;
}
.queue-box
{
	position: relative;
	height: 4vw;
	margin-bottom: 0.4vw;
	margin-top: 0.4vw;
}

.serial-number-queue
{
	position: absolute;
	left: 1vw;
	font-size: 1.2vw;
	top: 1.5vw;
}

.queue-song-img
{
	position: absolute;
	left: 3vw;
	height: 100%;
	width: 6.8%;
	border-radius: 1vw;
	overflow: hidden;
}

.queue-song-img img
{
	height: 100%;
	width: 100%;
}

.queue-song-name
{
	position: absolute;
	top: 0.6vw;
	left: 15%;
	font-size: 1.3vw;
}

.queue-song-artist
{
	position: absolute;
	font-size: 1vw;
	top: 2.2vw;
	left: 15%;
}

.queue-song-duration
{
	position: absolute;
	font-size: 1.5vw;
	top: 1.2vw;
	right: 11vw;
}

.queue-fav-logo-hover,.queue-fav-logo-initial
{
	position: absolute;
	font-size: 1.5vw;
	top: 1.2vw;
	right: 8vw;
}

.queue-fav-logo-hover
{
	color: transparent;
}

.queue-fav-logo-hover:hover
{
	color: white;
}

.queue-fav-logo-plus
{
	position: absolute;
	font-size: 1.5vw;
	top: 1.2vw;
	right: 5vw;
}

.queue-dounload-logo
{
	position: absolute;
	font-size: 1.3vw;
	top: 1.35vw;
	right: 2vw;
}

/* Aside Section */
aside
{
	position: fixed;
	display: inline-block;
	vertical-align: top;
	top:6vw;
	right: 5vw;
	width: 25vw;
	height: 80vh;
	overflow: hidden;
}

#aside-top-part
{
	height: 37vh;
	border-radius: 2vw;
	background: rgba(20, 25, 58, 1.0);
	margin-bottom: 1vw;
	overflow: hidden;
	text-transform: capitalize;
}


#aside-bottom-part
{
	height: 37vh;
	border-radius: 2vw;
	background: rgba(20, 25, 58, 1.0);
	overflow: hidden;
	text-transform: capitalize;
}

#aside-hover-arrow i
{
	display: none;
}

#aside-top
{
	height: 5vw;
	width: 25%;
	position: fixed;
	background: rgba(20, 25, 58, 1.0);
	z-index: 2;
	margin-bottom: 1vw;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;
}

#aside-my-playlist-heading
{
	font-size: 2vw;
	position: absolute;
	left: 2vw;
	top: 1.3vw;
}

#aside-queue-heading
{
	font-size: 1.2vw;
	right: 3vw;
	position: absolute;
	top: 1vw;
}

#aside-down-arrow
{
	font-size: 1vw;
	position: absolute;
	right: 1vw;
	top: 1.2vw;
	color: gray;
}

.aside-down-heading-content
{
	position: absolute;
	border: 1px solid white;
	border-radius: 0.4vw;
	margin: 0;
	right: 1.5vw;
	padding: 0vw 0.5vw;
	background-color: #3f457f;
	display: none;
	margin-top: -1vw;
}

.aside-down-heading-content ul
{
	padding: 0;
	margin: 0;
}

.aside-down-heading-content li
{
	font-size: 1.2vw;
	padding: 0.5vw 0vw;
	margin: 0;
	color: white;
	border-bottom: 1px solid white;
	text-align: left;
}

#aside-option-dropdown-no-border
{
	border-bottom: none;
}

#aside-down-heading:hover .aside-down-heading-content
{
	display: block;
}

#song-row
{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.extra-div-aside
{
	height: 5vw;
	width: 100%;
}

.song-box
{
	height: 4vw;
	position: relative;
	margin-bottom: 1.5vw;
	margin-top: 0.4vw;
}

.serial-number
{
	position: absolute;
	left: 1vw;
	font-size: 1.2vw;
	top: 1vw;
}

#serial-number-play
{
	color: lightblue;
	top: 0.8vw;
	font-size: 1.2vw;
}

.aside-song-img
{
	position: absolute;
	left: 3vw;
	height: 100%;
	width: 17%;
	overflow: none;
}

.aside-song-img img
{
	height: 100%;
	width: 100%;
	border-radius: 1vw;
}

.aside-song-name
{
	position: absolute;
	top: 0.6vw;
	left: 32%;
	font-size: 1.3vw;
}

.aside-song-artist
{
	position: absolute;
	font-size: 1vw;
	top: 2.2vw;
	left: 32%;
}

#song-row-bottom
{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.extra-div-aside-bottom
{
	height: 5vw;
	width: 100%;
}

.song-box-bottom
{
	height: 2.7vw;
	position: relative;
	margin-bottom: 1vw;
	margin-top: 0.4vw;
}

.serial-number-bottom
{
	position: absolute;
	left: 1vw;
	font-size: 1vw;
	top: 1vw;
}

.aside-song-img-bottom
{
	position: absolute;
	left: 3vw;
	height: 100%;
	width: 11.5%;
	overflow: hidden;
}

.aside-song-img-bottom img
{
	height: 100%;
	width: 100%;
	border-radius: 0.5vw;
}

.aside-song-name-bottom
{
	position: absolute;
	top: 0.4vw;
	left: 28%;
	font-size: 1vw;
}

.aside-song-artist-bottom
{
	position: absolute;
	font-size: 0.7vw;
	top: 1.5vw;
	left: 28%;
}

.aside-fav-logo-hover,.aside-fav-logo-initial
{
	position: absolute;
	font-size: 1.5vw;
	top: 1vw;
	right: 1vw;
}

.aside-fav-logo-hover
{
	color: transparent;
}

.aside-fav-logo-hover:hover
{
	color: white;
}

#light-box-close
{
	display: none;
	position: fixed;
	top: 8vw;
	left: 66.1vw;
	font-size: 5vw;
	z-index: 1000;
	width: 3vw;
	height: 78%;
	border-top-left-radius: 2vw;
	border-bottom-left-radius: 2vw;
	background-color: rgba(20, 25, 58, 1.0);
}

#light-box-close i
{
	margin-top: 38vh;
	margin-left: 0.5vw;
}

/* Bottom music Player Box */
#player-box
{
	width: 100%;
	height: 5vw;
	position: fixed;
	bottom: 0px;
	background-color: rgba(20, 25, 58, 0.98);
}

#player-contents
{
	height: 100%;
	width: 100%;
	position: relative;
}

#player-img
{
	position: absolute;
	height: 100%;
	width: 5vw;
	left: 3vw;
	overflow: hidden;
}

#player-img img
{
	height: 100%;
	width: 100%;
}

#player-song-name
{
	position: absolute;
	top: 1vw;
	left: 10vw;
	font-size: 1.5vw;
}

#player-artist
{
	position: absolute;
	font-size: 1.2vw;
	top: 2.8vw;
	left: 10vw;
}

#player-favourite-initial,#player-favourite-hover
{
	position: absolute;
	left: 19vw;
	font-size: 1.2vw;
	top: 1.2vw;
}

#player-favourite-hover
{
	color: transparent;
}

#player-favourite-hover:hover
{
	color: white;
}

#player-restriction
{
	position: absolute;
	left: 21vw;
	font-size: 1.2vw;
	top: 1.2vw;
}

#player-suffle
{
	position: absolute;
	left: 38vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-previous
{
	position: absolute;
	left: 43vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-seek-prev
{
	position: absolute;
	left: 46vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-play,#player-pause
{
	position: absolute;
	left: 48.6%;
	right: 48.6%;
	font-size: 1.5vw;
	top: 0.2vh;
	border: 1px solid white;
	background-color: rgba(20, 25, 58, 1.0);
	padding: 0.6vw 0.0vw 0.4vw 0.65vw;
	border-radius: 50px;
}

#player-play
{
	padding: 0.6vw 0.0vw 0.4vw 0.8vw;
}
#player-play
{
	color: white;
	z-index: 1;
}

#player-pause
{

	color: white;
	z-index: 2;
}

#player-pause:hover
{
	background-color: transparent;
	color: transparent;
	z-index: 1;
}

#player-play:hover
{
	color: white;
	z-index: 2;
}

#player-seek-next
{
	position: absolute;
	right: 46vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-next
{
	position: absolute;
	right: 43vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-repeat
{
	position: absolute;
	right: 38vw;
	font-size: 1.3vw;
	top: 1vw;
}

#left-duration
{
	position: absolute;
	left: 28vw;
	font-size: 1vw;
	top: 3.3vw;
}

#player-time-strap input
{
	position: absolute;
	top: 3.5vw;
	left: 32vw;
	width: 35.5vw;
	height: 0.5vw;
}

#right-duration
{
	position: absolute;
	right: 28vw;
	font-size: 1vw;
	top: 3.3vw;
}


#player-playlist-bars
{
	position: absolute;
	right: 20vw;
	font-size: 1.5vw;
	top: 1.6vw;
}

#player-playlist-play
{
	position: absolute;
	right: 20.7vw;
	font-size: 0.6vw;
	top: 1.4vw;
	border: 1px dotted transparent;
	background-color: rgba(20, 25, 58, 0.9);
}

#airplay
{
	position: absolute;
	right: 16vw;
	font-size: 1.5vw;
	top: 1.6vw;
}


#volume-logo
{
	position: absolute;
	right: 12vw;
	font-size: 1.5vw;
	top: 1.6vw;
}

#volume-strap input
{
	position: absolute;
	right: 5vw;
	width: 6vw;
	top: 1.8vw;
	height: 0.5vw;
}

#zoom-player
{
	position: absolute;
	right: 3vw;
	font-size: 1.7vw;
	top: 1.3vw;
}

#zoom-player i
{
	transform: rotate(45deg);
}


::-webkit-scrollbar {
	width: 0px;
	background: transparent;
}

/* For Screen Size Less Than 1000px Below Properties Will Apply */
@media screen and (max-width: 1000px)
{
	/* Top Row */
	#top-row
	{
		height: 7vw;
	}

	#website-logo-image
	{
		top: 1vw;
		font-size: 5vw;
	}

	#website-logo-top-heading
	{
		top: 1.8vw;
		left: 8vw;
		font-size: 1.5vw;
	}
	
	#website-logo-bottom-heading
	{
		top: 3.5vw;
		left: 8vw;
		font-size: 2vw;
	}
	
	#favourites-text
	{
		font-size: 2vw;
	}

	/* Main Content */
	main
	{
		margin-top: 7vw;
		margin-bottom: 7vw;
	}

	content
	{
		display: inline-block;
		margin-left: 5vw;
		margin-right: 5vw;
		height: auto;
		width: 90vw;
	}

	/* Artist Contents */
	#main-big-content
	{
		height: 40vw;
	}

	/* Artist Image */
	#main-big-content-left-div
	{
		width: 45%;
	}

	/* Artist Details */
	#main-big-content-right-div
	{
		width: 55%;
	}

	#playlist-name
	{
		font-size: 3vw;
	}


	#playlist-followers
	{
		font-size: 1.5vw;
	}


	#band-name
	{
		font-size: 1.5vw;
		bottom: 73%;
	}


	#main-big-content-para
	{
		line-height: 2.4vw;
		font-size: 1.5vw;
		top: 30%;
	}


	#playall-button
	{
		font-size: 1.8vw;
	}


	#follow-button
	{
		font-size: 1.8vw;
	}

	#main-big-content-bottom-line
	{
		font-size: 1.5vw;
	}

	/* Queue Section */
	#queue-section
	{
		margin-top: 1vw;
	}

	.queue-box
	{
		height: 6vw;
		margin-bottom: 0.6vw;
	}

	.serial-number-queue
	{
		left: 0.2vw;
		font-size: 1.8vw;
		top: 2.2vw;
	}

	.queue-song-name
	{
		position: absolute;
		top: 0.9vw;
		left: 15%;
		font-size: 2vw;
	}

	.queue-song-artist
	{
		position: absolute;
		font-size: 1.5vw;
		top: 3.5vw;
		left: 15%;
	}

	.queue-song-duration
	{
		font-size: 1.8vw;
		top: 1.5vw;
		right: 11vw;
	}

	.queue-fav-logo-hover,.queue-fav-logo-initial
	{
		font-size: 1.8vw;
		top: 1.5vw;
		right: 8vw;
	}

	.queue-fav-logo-hover
	{
		color: transparent;
	}

	.queue-fav-logo-hover:hover
	{
		color: white;
	}

	.queue-fav-logo-plus
	{
		font-size: 1.8vw;
		top: 1.5vw;
		right: 5vw;
	}

	.queue-dounload-logo
	{
		font-size: 1.6vw;
		top: 1.5vw;
		right: 2vw;
	}

	/* Aside Section */
	#aside-section
	{
		display: none;
		height: 78vh;
		width: 30vw;
		top: 8vw;
		border-radius: 2vw;
		border-bottom-left-radius: 0vw;
	}

	#aside-top-part
	{
		border-radius: 0vw;
	}

	#aside-bottom-part
	{
		border-radius: 0vw;
	}

	#aside-bottom-part #aside-top
	{
		border-radius: 0px;
	}

	#aside-top
	{
		height: 6vw;
	}

	#aside-my-playlist-heading
	{
		font-size: 2.5vw;
	}

	#aside-queue-heading
	{
		font-size: 1.5vw;
	}

	#aside-down-arrow
	{
		font-size: 1.5vw;
	}

	.aside-down-heading-content li
	{
		font-size: 1.6vw;
	}

	.extra-div-aside
	{
		height: 6vw;
	}

	.serial-number
	{
		left: 0.4vw;
		font-size: 1.5vw;
		top: 1.6vw;
	}

	.aside-song-name
	{
		top: 0.5vw;
		font-size: 1.8vw;
	}

	.aside-song-artist
	{
		font-size: 1.3vw;
		top: 3vw;
	}

	.extra-div-aside-bottom
	{
		height: 6vw;
	}

	.song-box-bottom
	{
		height: 3.4vw;
		position: relative;
		margin-bottom: 1.2vw;
		margin-top: 0.4vw;
	}

	.song-box
	{
		height: 5vw;
	}

	.serial-number-bottom
	{
		position: absolute;
		left: 0.4vw;
		font-size: 1.3vw;
		top: 1.2vw;
	}

	#serial-number-play
	{
		top: 1.1vw;
		font-size: 1.5vw;
	}

	.aside-song-name-bottom
	{
		font-size: 1.5vw;
	}

	.aside-song-artist-bottom
	{
		font-size:1.3vw;
		top: 2vw;
	}

	.aside-fav-logo-hover,.aside-fav-logo-initial
	{
		font-size: 1.8vw;
	}

	#aside-hover-arrow i
	{
		display: block;
		top: 45vh;
		right: 2vw;
		font-size: 5vw;
		position: fixed;
		color: white;
	}

	#aside-top
	{
		width: 30vw;
		background: rgba(20, 25, 58, 1.0);
		border-top-left-radius: 0vw;
	}

	#light-box-close
	{
		display: block;
	}

	#light-box-close a
	{
		text-decoration: none;
		color: white;
	}

	#aside-section:target
	{
		right: 1vw;
		background-color: rgba(20, 25, 58, 1.0);
		display: inline-block;
		position: fixed;
		color: white;
		z-index: 10;
	}

	/* Bottom music Player Box */
	#player-box
	{
		height: 7vw;
	}

	#player-img
	{
		width: 7vw;
		left: 3vw;
	}

	#player-song-name
	{
		top: 1.5vw;
		left: 12vw;
		font-size: 1.8vw;
	}

	#player-artist
	{
		font-size: 1.5vw;
		top: 3.8vw;
		left: 12vw;
	}

	#player-favourite-initial,#player-favourite-hover
	{
		display: none;
	}

	#player-restriction
	{
		display: none;
	}

	#player-suffle
	{
		left: 33vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-previous
	{
		left: 40vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-seek-prev
	{
		left: 44vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-play,#player-pause
	{
		position: absolute;
		left: 48.2%;
		right: 48.2%;
		font-size: 2.2vw;
		top: 0.5vh;
		border: 1px solid white;
		background-color: rgba(20, 25, 58, 1.0);
		padding: 0.6vw 0.0vw 0.4vw 0.65vw;
		border-radius: 100%;
	}

	#player-play
	{
		padding: 0.6vw 0.0vw 0.4vw 0.8vw;
	}
	#player-play
	{
		color: white;
		z-index: 1;
	}

	#player-pause
	{

		color: white;
		z-index: 2;
	}

	#player-pause:hover
	{
		background-color: transparent;
		color: transparent;
		z-index: 1;
	}

	#player-play:hover
	{
		color: white;
		z-index: 2;
	}

	#player-seek-next
	{
		position: absolute;
		right: 44vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-next
	{
		position: absolute;
		right: 40vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-repeat
	{
		position: absolute;
		right: 33vw;
		font-size: 1.6vw;
		top: 1.2vw;
	}

	#left-duration
	{
		position: absolute;
		left: 28vw;
		font-size: 1.5vw;
		top: 4.5vw;
	}

	#player-time-strap input
	{
		top: 5vw;
	}

	#right-duration
	{
		position: absolute;
		right: 28vw;
		font-size: 1.5vw;
		top: 4.5vw;
	}


	#player-playlist-bars
	{
		position: absolute;
		right: 23vw;
		font-size: 1.8vw;
		top: 2.5vw;
	}

	#player-playlist-play
	{
		position: absolute;
		right: 23.7vw;
		font-size: 1vw;
		top: 2.0vw;
		border: 1px dotted transparent;
		background-color: rgba(20, 25, 58, 0.9);
	}

	#airplay
	{
		position: absolute;
		right: 18vw;
		font-size: 1.8vw;
		top: 2.5vw;
	}


	#volume-logo
	{
		right: 14vw;
		top: 2.5vw;
	}

	#volume-strap input
	{
		right: 7vw;
		width: 6vw;
		top: 2.8vw;
	}

	#player-second-strap-covered
	{
		position: absolute;
		font-size: 1vw;
		bottom: 0;
		height: 10vw;
		background-color: green;
		width: inherit;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	#volume-logo:hover+#volume-strap
	{
		display: block;
	}
	#zoom-player
	{
		position: absolute;
		right: 4.5vw;
		font-size: 2vw;
		top: 2.3vw;
	}

	#zoom-player i
	{
		transform: rotate(45deg);
	}
}

/* For Screen Size Less Than 650px Below Properties Will Apply */
@media screen and (max-width: 650px)
{
	/* Top Row */
	#top-row
	{
		height: 9vw;
	}
	
	#website-logo
	{
		width: 8vw;
	}
	
	#website-logo-image
	{
		top: 1vw;
		font-size: 6vw;
	}
	#website-logo-top-heading
	{
		top: 2.2vw;
		left: 9vw;
		font-size: 1.7vw;
	}
	
	#website-logo-bottom-heading
	{
		left: 9vw;
		top: 4vw;
		font-size: 2.5vw;
	}
	
	#favourites-text
	{
		display: none;
	}
	
	#favourites-replace
	{
		display: block;
		top: 3vw;
	}

	#search-box
	{
		top: 2vw;
		width: 53vw;
		height: 4vw;
	}
	
	#search-icon
	{
		top: 1vw;
		font-size: 2vw;
	}
	
	#search-text
	{
		font-size: 2vw;
	}
	
	#search-text-input
	{
		width: 42vw;
		font-size: 2vw;
	}
	
	#search-mic
	{
		font-size: 2vw;
	}
	
	#notification-logo
	{
		position: absolute;
		top: 2.5vw;
	}
	
	#notification-logo i
	{
		font-size: 3vw;
	}
	
	#notification-dot
	{
		left: 1.6vw;
		top: 0.6vw;
	}
	
	#Account-Picture
	{
		top: 1vw;
	}
	
	#Account-Picture img
	{
		width: 6vw;
	}

	main
	{
		margin-top: 9vw;
		margin-bottom: 9vw;
	}

	#playlist-name
	{
		font-size: 3.5vw;
	}


	#playlist-followers
	{
		font-size: 2vw;
	}


	#band-name
	{
		font-size: 2vw;
		bottom: 71%;
	}


	#main-big-content-para
	{
		font-size: 1.8vw;
		line-height: 2.2vw;
	}


	#playall-button
	{
		font-size: 2.2vw;
		bottom: 18%;
	}


	#follow-button
	{
		font-size: 2.2vw;
		bottom: 18%;
	}

	#main-big-content-bottom-line
	{
		font-size: 2vw;
		bottom: 7%;
	}

	/* Queue Section */
	#queue-section
	{
		margin-top: 1vw;
	}

	.queue-box
	{
		height: 8vw;
		margin-bottom: 0.8vw;
	}

	.serial-number-queue
	{
		left: 0.2vw;
		font-size: 2.2vw;
		top: 3vw;
	}

	.queue-song-img
	{
		left: 4vw;
		width: 8.8%;
	}

	.queue-song-name
	{
		top: 1.2vw;
		left: 17%;
		font-size: 2.5vw;
	}

	.queue-song-artist
	{
		font-size: 1.8vw;
		top: 4.5vw;
		left: 17%;
	}

	.queue-song-duration
	{
		font-size: 2.3vw;
		top: 1.8vw;
		right: 14vw;
	}

	.queue-fav-logo-hover,.queue-fav-logo-initial
	{
		font-size: 2.3vw;
		top: 1.8vw;
		right: 10vw;
	}

	.queue-fav-logo-plus
	{
		font-size: 2.3vw;
		top: 1.8vw;
		right: 6vw;
	}

	.queue-dounload-logo
	{
		font-size: 2.1vw;
		top: 1.8vw;
		right: 1vw;
	}

	/* Aside Section */
	#aside-section
	{
		display: none;
		height: 83vh;
		width: 30vw;
		top: 8vw;
		border-radius: 2vw;
		border-bottom-left-radius: 0vw;
	}

	#aside-top-part
	{
		height: 40.5vh;
	}

	#aside-bottom-part
	{
		vertical-align: bottom;
		height: 40.5vh;
	}

	#aside-hover-arrow i
	{
		top: 44.8vh;
	}
	
	#light-box-close
	{
		top: 8vw;
		height: 83%;
	}

	#light-box-close i
	{
		margin-top: 39vh;
	}

	#aside-top
	{
		height: 7vw;
	}

	#aside-my-playlist-heading
	{
		font-size: 2.7vw;
	}

	#aside-queue-heading
	{
		font-size: 1.8vw;
	}

	#aside-down-arrow
	{
		font-size: 1.8vw;
	}

	.aside-down-heading-content li
	{
		font-size: 2vw;
	}

	.extra-div-aside
	{
		height: 7vw;
	}

	.serial-number
	{
		font-size: 1.8vw;
		top: 2.3vw;
	}

	#serial-number-play
	{
		left: 0.3vw;
		top: 1.2vw;
		font-size: 1.8vw;
	}

	.aside-song-img
	{
		left: 3vw;
		width: 22%;
	}

	.aside-song-name
	{
		top: 1vw;
		font-size: 2.3vw;
		left: 38%;
	}

	.aside-song-artist
	{
		font-size: 1.8vw;
		top: 3.5vw;
		left: 38%;
	}

	.extra-div-aside-bottom
	{
		height: 7vw;
	}

	.aside-fav-logo-hover,.aside-fav-logo-initial
	{
		font-size: 2.5vw;
		top: 1vw;
	}

	.song-box-bottom
	{
		height: 4vw;
		position: relative;
		margin-bottom: 1.2vw;
		margin-top: 0.4vw;
	}

	.song-box
	{
		height: 6vw;
	}

	.serial-number-bottom
	{
		font-size: 1.5vw;
		top: 1.5vw;
	}

	.aside-song-img-bottom
	{
		width: 14%;
	}

	.aside-song-name-bottom
	{
		font-size: 1.8vw;
	}

	.aside-song-artist-bottom
	{
		font-size:1.3vw;
		top: 2.5vw;
	}

	#aside-hover-arrow i
	{
		top: 44vh;
		right: 1.5vw;
	}

	/* Music Player Bottom */
	#player-box
	{
		height: 9vw;
	}
	
	#player-img
	{
		width: 9vw;
	}
	
	#player-song-name
	{
		top: 2vw;
		left: 15vw;
		font-size: 2.3vw;
	}
	
	#player-artist
	{
		position: absolute;
		font-size: 1.8vw;
		top: 5.3vw;
		left: 15vw;
	}
	
	#player-suffle
	{
		display: none;
	}
	
	#player-previous
	{
		left: 35vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-seek-prev
	{
		left: 41vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-play,#player-pause
	{
		left: 47.9%;
		right: 47.9%;
		font-size: 2.6vw;
		top: 1vh;
		padding: 0.6vw 0.0vw 0.4vw 0.8vw;
	}

	#player-seek-next
	{
		right: 41vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-next
	{
		right: 35vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-repeat
	{
		display: none;
	}

	#left-duration
	{
		left: 27vw;
		font-size: 2.2vw;
		top: 6vw;
	}

	#player-time-strap input
	{
		position: absolute;
		top: 6.5vw;
		left: 32vw;
		width: 35.5vw;
		height: 0.5vw;
	}

	#right-duration
	{
		right: 27vw;
		font-size: 2.2vw;
		top: 6vw;
	}

	
	
	#player-playlist-bars
	{
		display: none;
	}

	#player-playlist-play
	{
		display: none;
	}

	#airplay
	{
		position: absolute;
		right: 18vw;
		font-size: 2.5vw;
		top: 3vw;
	}


	#volume-logo
	{
		position: absolute;
		right: 11vw;
		font-size: 2.5vw;
		top: 3vw;
	}


	#volume-strap
	{
		display: none;
	}
	
	#volume-strap input
	{
		transform: rotate(-90deg);
		right: 4vw;
		width: 16vw;
		height: 3vw;
		top: -7vw;
	}

	#volume:hover #volume-strap
	{
		display: block;
	}
	
	#zoom-player
	{
		right: 6vw;
		font-size: 2.8vw;
		top: 2.6vw;
	}
}
