body
{
	height: auto;
	width: 100vw;
	background: linear-gradient(to right,#2857a4,#403066 70%);
	color: white;
	margin: 0;
	text-transform: uppercase;
}
/*Top Row*/
#top-row
{
	position: fixed;
	width: 100vw;
	height: 6vw;
	top: 0;
	background: linear-gradient(to right,#2857a4,#403066 70%);
	/*border-bottom: white dotted 1px;*/
	z-index: 5;
}

.inline-elements
{
	display: inline-block;
}

#website-logo
{
	margin-left: 2vw;
	width: 5vw;
}

@keyframes rotating
{
	from
	{
		transform: rotate(0deg);
	}
	to
	{
		transform: rotate(10000000000deg);
	}
}

#website-logo-image
{
	position: absolute;
	top: 0.7vw;
	font-size: 4vw;
}

#website-logo-image a
{
	color: white;
}

#website-logo-image i
{
	animation: rotating 30000000s infinite;
	width: 101%;
}

#website-logo-top-heading
{
	position: absolute;
	top: 1.6vw;
	left: 6.5vw;
	font-size: 1.2vw;
	font-weight: 100;
}

#website-logo-bottom-heading
{
	position: absolute;
	left: 6.5vw;
	top: 3vw;
	font-size: 1.5vw;
	font-weight: 700;
}




#favourites
{
	position: absolute;
}

#favourites-text
{
	position: absolute;
	left: 15vw;
	top: 2vw;
	font-size: 1.5vw;
}


#favourites-replace
{
	display: none;
	position: absolute;
	left: 11vw;
	top: 2vw;
	font-size: 3vw;
}

#search-box
{
	position: absolute;
	top: 1.5vw;
	right: 19vw;
	width: 25vw;
	border: 2px solid black;
	border-radius: 20vw;
	height: 3vw;
	background-color: rgba(20, 25, 58, 0.7);
}


#search-icon
{
	position: absolute;
	left: 1.5vw;
	top: 0.8vw;
	font-size: 1.5vw;
}

#search-text
{
	position: absolute;
	left: 5vw;
	top: 0.6vw;
	font-size: 1.5vw;
}

#search-text-input
{
	position: relative;
	border: none;
	background-color: transparent;
	outline: none;
	color: white;
	width: 15vw;
	font-size: 1.5vw;
}

#search-mic
{
	position: absolute;
	right: 1.5vw;
	top: 0.8vw;
	font-size: 1.5vw;
}




#notification-logo
{
	position: absolute;
	top: 1.5vw;
	right: 12vw;
	height: 5vh;
}

#notification-logo i
{
	font-size: 3vw;
}

#notification-dot
{
	background-color: red;
	height: 1vw;
	width: 1vw;
	border-radius: 50%;
	position: absolute;
	left: 1.5vw;
	top: 0.2vw;
}



#Account-Picture
{
	position: absolute;
	top: 0.7vw;
	right: 2vw;
}

#Account-Picture img
{
	width: 4.5vw;
	border: 1px solid white;
	border-radius: 50px;
}

main
{
	height: auto;
	text-align: center;
	margin-top: 6.5vw;
	position: relative;
	margin-bottom: 5vw;
}


content
{
	display: inline-block;
	margin-left: -26vw;
	height: auto;
	width: 64vw;
	/*border: 1px dotted white;*/
}


#highlight-section
{
	background-color: transparent;
	height: 25vw;
	width: 100%;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-bottom: 1vw;
}

.highlight-content
{
	height: 20vw;
	width: 30%;
	display: inline-block;
	transition: all 0.3s;
}

.highlight-content img
{
	height: 100%;
	width: 100%;
	display: inline-block;
	transition: all 0.8s;
}

#highlight-content1:hover
{
	transform: scale(1.5,1.1) translateX(22%);
}

#highlight-content2:hover
{
	transform: scale(1.8,1.1) translateX(0px);
}

#highlight-content3:hover
{
	transform: scale(1.5,1.1) translateX(-22%);
}

#highlight-content1:hover,#highlight-content2:hover,#highlight-content3:hover
{
	z-index: 1;
	box-shadow: 0px 0px 10px 4px white;
}





#latest-release-section
{
	width: 100%;
	height: 22vw;
	/*border: 1px dotted white;*/
	margin-bottom: 2vw;
	position: relative;
}

.section-heading
{
	font-size: 2.5vw;
	margin-bottom: -1vw;
}

#latest-release-section-heading
{
	position: sticky;
}

#latest-release-content-main-div
{
	overflow: scroll;
	height: 100%;
}

#latest-right-arrow
{
	position: absolute;
	top: 0.2vw;
	right: 1vw;
	font-size: 1.5vw;
}

#latest-release-content-div
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 80%;
	width: 95vw;
}

.latest-release-content
{
	position: relative;
	height: 40%;
	width: 30%;
	top: 10%;
	border-radius: 1vw;
	/* border: 1px dotted white; */
	background-color: rgba(20, 25, 58, 0.4);
}

.latest-release-content-img
{
	margin-left: 1vw;
	position: absolute;
	top: 0.6vw;
	height: 80%;
	width: 6vw;
	border-radius: 1vw;
}

.latest-release-content-img img
{
	height: 100%;
	width: 100%;
	border-radius: 1vw;
}

.latest-release-song-name
{
	position: absolute;
	left: 9vw;
	top: 20%;
	font-size: 1.5vw;
}

.latest-release-song-date
{
	position: absolute;
	left: 9vw;
	top: 60%;
	font-size: 1.2vw;
}

.latest-release-song-option-logo
{
	position: absolute;
	top: 10%;
	right: 2vw;
	font-size: 1vw;
}

.latest-release-song-option-dropdown
{
	display: none;
	height: auto;
	border: 1px solid white;
	border-radius: 1vw;
	width: auto;
	background-color: #3f457f;
	position: absolute;
	right: 1.5vw;
	padding: 0vw 0.5vw;
	margin-top: -2vw;
	z-index: 2;
}

.latest-release-song-option-dropdown ul
{
	padding-left: 0;
	margin: 0;
}

.latest-release-song-option-dropdown li
{
	padding-left: 0;
	margin-left: 0;
	height: auto;
	font-size: 1.2vw;
	padding: 0.5vw 0vw;
	color: white;
	border-bottom: 1px solid white;
	text-align: left;
}

.latest-release-song-option-dropdown i
{
	position: absolute;
	margin-right: 4vw;
}

.dropdown-text
{
	padding-left: 2vw;
	padding-right: 1vw;
}

#latest-release-song-option-dropdown-no-border
{
	border-bottom: none;
}

.latest-release-song-option:hover .latest-release-song-option-dropdown
{
	display: block;
}

.latest-release-song-duration
{
	position: absolute;
	right: 1.7vw;
	top: 30%;
	font-size: 1vw;
}

#popular-artist-section
{
	width: 100%;
	height: 20vw;
	/*border: 1px dotted white;*/
	margin-bottom: 1vw;
}

#popular-artist-content-div
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 80%;
	width: 100%;
}

.popular-artist-content
{
	height: 60%;
	width: 15%;
	border-radius: 50%;
}

.popular-artist-img
{
	height: 100%;
	width: 100%;
	border-radius: 50%;
	overflow: hidden;
}

.popular-artist-content img
{
	height: 100%;
	width: 100%;
}

.artist-name-content
{
	margin-top: 10%;
	font-size: 1vw;
}

#station-section
{
	position: relative;
	width: 97%;
	height: 8vw;
	padding: 1vw 1vw;
	/*border: 0.1px dotted transparent;*/
	background-color: rgba(20, 25, 58, 0.4);
	margin-bottom: 3vw;
	border-radius: 2vw;
}

#station-logo
{
	position: absolute;
	left: 2%;
	top: 11%;
	height: 76%;
	width: 17%;
	border-radius: 1vw;
}

#station-logo img
{
	height: 100%;
	width: 100%;
}

#station-content-div
{
	position: absolute;
	right: 2%;
	height: 76%;
	width: 77%;
	top: 11%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}


.station-contents
{
	height: 100%;
	width: 15%;
	overflow-wrap: break-word;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	position: relative;
}

.station-content-img
{
	overflow: hidden;
	height: 100%;
	width: 100%;
	border-radius: 50%;
}

.station-content-img img
{
	height: 100%;
	width: 100%;
	transition: all 0.3s;
}

.station-contents-text
{
	position: absolute;
	font-size: 1.5vw;
}

.station-contents:hover .station-content-img
{
	opacity: 0.5;
}

.station-contents:hover .station-contents-text
{
	color: white;
}

.station-contents:hover .station-content-img img
{
	transform: scale(1.2);
}

.station-contents-text
{
	color: transparent;
	position: absolute;
}


#mood-section
{
	height: 10vw;
	width: 100%;
	/*border: 1px dotted white;*/
	margin-bottom: 5vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.mood-contents
{
	height: 100%;
	width: 32%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 2vw;
}

.mood-img
{
	height: 100%;
	width: 100%;
	overflow: hidden;
	border-radius: 2vw;
}

.mood-img img
{
	height: 100%;
	width: 100%;
	border-radius: 2vw;
	transition: all 0.3s ease-in-out;
}

.mood-contents:hover .mood-img
{
	opacity: 0.6;
}

.mood-contents:hover .mood-text
{
	color: white;
}

.mood-contents:hover .mood-img img
{
	transform: scale(1.5);
}

.mood-text
{
	color: transparent;
	position: absolute;
	font-size: 2vw;
}




#latest-english-hindi
{
	width: 100%;
	height: 20vw;
	/*border: 1px dotted white;*/
	margin-top: 3vw;
}


#latest-english-hindi-content-div
{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	height: 80%;
	width: 100%;
}

.latest-english-hindi-content
{
	height: 60%;
	width: 15%;
	border-radius: 2vw;
}

.english-hindi-name-content
{
	margin-top: 10%;
	font-size: 1.2vw;
}

.english-hindi-date-content
{
	margin-top: 2%;
	font-size: 1vw;
}

.latest-english-hindi-img
{
	height: 100%;
	width: 100%;
	overflow: hidden;
}

.latest-english-hindi-img img
{
	height: 100%;
	width: 100%;
	border-radius: 2vw;
}

aside
{
	position: fixed;
	display: inline-block;
	top:7vw;
	right: 5vw;
	width: 25vw;
	height: 74vh;
	border-radius: 2vw;
	background: rgba(20, 25, 58, 1.0);
	overflow: hidden;
}

#aside-top
{
	height: 5vw;
	width: 25%;
	/*border: 1px dotted white;*/
	position: fixed;
	background: rgba(20, 25, 58, 1.0);
	z-index: 2;
	margin-bottom: 1vw;
	border-top-left-radius: 2vw;
	border-top-right-radius: 2vw;
}

#aside-my-playlist-heading
{
	font-size: 2vw;
	position: absolute;
	left: 2vw;
	top: 1vw;
}


#aside-queue-heading
{
	font-size: 1.2vw;
	right: 3vw;
	position: absolute;
	top: 1vw;
}


#aside-down-arrow
{
	font-size: 1vw;
	position: absolute;
	right: 1vw;
	top: 1.2vw;
}

.aside-down-heading-content
{
	position: absolute;
	border: 1px solid white;
	border-radius: 0.4vw;
	margin: 0;
	right: 1.5vw;
	padding: 0vw 0.5vw;
	background-color: #3f457f;
	display: none;
	margin-top: -1vw;
}

.aside-down-heading-content ul
{
	padding: 0;
	margin: 0;
}

.aside-down-heading-content li
{
	font-size: 1.2vw;
	padding: 0.5vw 0vw;
	margin: 0;
	color: white;
	border-bottom: 1px solid white;
	text-align: left;
}


#aside-option-dropdown-no-border
{
	border-bottom: none;
}

#aside-down-heading:hover .aside-down-heading-content
{
	display: block;
}

#aside-hover-arrow i
{
	display: none;
}

#light-box-close
{
	display: none;
	position: fixed;
	top: 8vw;
	left: 66.1vw;
	font-size: 5vw;
	z-index: 1000;
	width: 3vw;
	height: 78%;
	border-top-left-radius: 2vw;
	border-bottom-left-radius: 2vw;
	background-color: rgba(20, 25, 58, 1.0);
}

#light-box-close i
{
	margin-top: 36vh;
	margin-left: 0.5vw;
}

#song-row
{
	height: 100%;
	width: 100%;
	overflow-y: scroll;
}

.extra-div-aside
{
	height: 5vw;
	width: 100%;
}

.song-box
{
	/*border: 1px dotted blue;*/
	height: 4vw;
	position: relative;
	margin-bottom: 0.4vw;
	margin-top: 0.4vw;
}

.serial-number
{
	position: absolute;
	left: 1vw;
	font-size: 1.2vw;
	top: 1vw;
}

#serial-number-play
{
	color: lightblue;
	top: 1.4vw;
	font-size: 1.2vw;
}

.aside-song-img
{
	position: absolute;
	left: 3vw;
	height: 100%;
	width: 17%;
	overflow: hidden;
	border-radius: 1vw;
}

.aside-song-img img{
	height: 100%;
	width: 100%;
}

.aside-song-name
{
	position: absolute;
	top: 0.6vw;
	left: 32%;
	font-size: 1.3vw;
}

.aside-song-artist
{
	position: absolute;
	font-size: 1vw;
	top: 2.2vw;
	left: 32%;
}


.aside-fav-logo-hover,.aside-fav-logo-initial
{
	position: absolute;
	font-size: 1.5vw;
	top: 1vw;
	right: 1vw;
}

.aside-fav-logo-hover
{
	color: transparent;
}

.aside-fav-logo-hover:hover
{
	color: white;
}




#player-box
{
	width: 100%;
	height: 5vw;
	/*border: 1px dotted white;*/
	position: fixed;
	bottom: 0px;
	background-color: rgba(20, 25, 58, 0.98);
}

#player-contents
{
	height: 100%;
	width: 100%;
	position: relative;
}

#player-img
{
	position: absolute;
	height: 100%;
	width: 5vw;
	left: 3vw;
	overflow: hidden;
}

#player-img img
{
	height: 100%;
	width: 100%;
}

#player-song-name
{
	position: absolute;
	top: 1vw;
	left: 10vw;
	font-size: 1.5vw;
}

#player-artist
{
	position: absolute;
	font-size: 1.2vw;
	top: 2.8vw;
	left: 10vw;
}

#player-favourite-initial,#player-favourite-hover
{
	position: absolute;
	left: 19vw;
	font-size: 1.2vw;
	top: 1.2vw;
}

#player-favourite-hover
{
	color: transparent;
}

#player-favourite-hover:hover
{
	color: white;
}

#player-restriction
{
	position: absolute;
	left: 21vw;
	font-size: 1.2vw;
	top: 1.2vw;
}

#player-suffle
{
	position: absolute;
	left: 38vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-previous
{
	position: absolute;
	left: 43vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-seek-prev
{
	position: absolute;
	left: 46vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-play,#player-pause
{
	position: absolute;
	left: 48.6%;
	right: 48.6%;
	font-size: 1.5vw;
	top: 0.2vh;
	border: 1px solid white;
	background-color: rgba(20, 25, 58, 1.0);
	padding: 0.6vw 0.0vw 0.4vw 0.65vw;
	border-radius: 50px;
}

#player-play
{
	padding: 0.6vw 0.0vw 0.4vw 0.8vw;
}
#player-play
{
	color: white;
	z-index: 1;
}

#player-pause
{

	color: white;
	z-index: 2;
}

#player-pause:hover
{
	background-color: transparent;
	color: transparent;
	z-index: 1;
}

#player-play:hover
{
	color: white;
	z-index: 2;
}

#player-seek-next
{
	position: absolute;
	right: 46vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-next
{
	position: absolute;
	right: 43vw;
	font-size: 1.5vw;
	top: 1vw;
}

#player-repeat
{
	position: absolute;
	right: 38vw;
	font-size: 1.3vw;
	top: 1vw;
}

#left-duration
{
	position: absolute;
	left: 28vw;
	font-size: 1vw;
	top: 3.3vw;
}

#player-first-strap
{
	position: absolute;
	left: 32vw;
	font-size: 1vw;
	top: 3.9vw;
	border: 1px solid gray;
	width: 35.7%;
}

#player-first-strap-covered
{
	position: absolute;
	left: 32vw;
	font-size: 1vw;
	top: 3.9vw;
	border: 1px solid green;
	width: 9.5%;
}

#player-first-strap-cursor
{
	position: absolute;
	left: 41.5vw;
	font-size: 1vw;
	top: 3.6vw;
	border: 5px solid white;
	border-radius: 50%;
	
}
#right-duration
{
	position: absolute;
	right: 28vw;
	font-size: 1vw;
	top: 3.3vw;
}


#player-playlist-bars
{
	position: absolute;
	right: 11vw;
	font-size: 1.5vw;
	top: 1.6vw;
}

#player-playlist-play
{
	position: absolute;
	right: 11.7vw;
	font-size: 0.6vw;
	top: 1.4vw;
	border: 1px dotted transparent;
	background-color: rgba(20, 25, 58, 0.9);
}

#airplay
{
	position: absolute;
	right: 8vw;
	font-size: 1.5vw;
	top: 1.6vw;
}


#volume-logo
{
	position: absolute;
	right: 5vw;
	font-size: 1.5vw;
	top: 1.6vw;
}

#volume-strap
{
	display: none;
	position: absolute;
	right: 4.6vw;
	font-size: 1vw;
	bottom: 3.5vw;
	background-color: white;
	border: 2px solid orange;
	border-radius: 5px;
	height: 13vw;
	width: 2vw;
}

#volume:hover #volume-strap
{
	display: block;
}

#player-second-strap-covered
{
	position: absolute;
	font-size: 1vw;
	bottom: 0;
	height: 10vw;
	background-color: green;
	width: inherit;
	border-bottom-left-radius: 3px;
	border-bottom-right-radius: 3px;
}

#volume-logo:hover+#volume-strap
{
	display: block;
}
#zoom-player
{
	position: absolute;
	right: 3vw;
	font-size: 1.7vw;
	top: 1.6vw;
}

#zoom-player i
{
	transform: rotate(45deg);
}


@media screen and (max-width: 1000px)
{

	#top-row
	{
		height: 7vw;
	}

	#website-logo-image
	{
		top: 1vw;
		font-size: 5vw;
	}

	#website-logo-top-heading
	{
		top: 1.8vw;
		left: 8vw;
		font-size: 1.5vw;
	}
	
	#website-logo-bottom-heading
	{
		top: 3.5vw;
		left: 8vw;
		font-size: 2vw;
	}
	
	#favourites-text
	{
		font-size: 2vw;
	}

	main
	{
		height: auto;
		text-align: center;
		margin-top: 6vw;
		position: relative;
		margin-bottom: 11vw;
	}

	content
	{
		display: inline-block;
		margin-left: 5vw;
		margin-right: 5vw;
		height: auto;
		width: 90vw;
	}

	#highlight-section
	{
		height: 27vw;
		margin-top: 4vw;
		margin-bottom: 3vw;
	}

	.highlight-content
	{
		height: 25vw;
	}

	#latest-release-section
	{
		width: 100%;
		height: 22vw;
		/*border: 1px dotted white;*/
		margin-bottom: 2vw;
		position: relative;
	}

	#latest-right-arrow
	{
		display: none;
	}

	#latest-release-content-div
	{
		height: 85%;
		width: 90vw;
	}

	.latest-release-content-img
	{
		margin-left: 1vw;
		position: absolute;
		top: 0.6vw;
		height: 80%;
		width: 6vw;
	}

	.latest-release-song-name
	{
		position: absolute;
		left: 9vw;
		top: 20%;
		font-size: 1.7vw;
	}

	.latest-release-song-date
	{
		position: absolute;
		left: 9vw;
		top: 60%;
		font-size: 1.4vw;
	}

	.latest-release-song-option-logo
	{
		position: absolute;
		top: 10%;
		right: 2vw;
		font-size: 1.5vw;
	}

	.latest-release-song-option-dropdown
	{
		display: none;
		height: auto;
		border-radius: 1vw;
		width: auto;
		position: absolute;
		right: 1.5vw;
		padding: 0vw 0.5vw;
		margin-top: -2vw;
		z-index: 2;
	}

	.latest-release-song-option-dropdown ul
	{
		padding-left: 0;
		margin: 0;
	}

	.latest-release-song-option-dropdown li
	{
		padding-left: 0;
		margin-left: 0;
		height: auto;
		font-size: 1.2vw;
		padding: 0.5vw 0vw;
		text-align: left;
	}

	.latest-release-song-option-dropdown i
	{
		position: absolute;
		margin-right: 4vw;
	}

	.dropdown-text
	{
		padding-left: 2vw;
		padding-right: 1vw;
	}

	#latest-release-song-option-dropdown-no-border
	{
		border-bottom: none;
	}

	.latest-release-song-option:hover .latest-release-song-option-dropdown
	{
		display: block;
	}

	.latest-release-song-duration
	{
		position: absolute;
		right: 1.7vw;
		top: 40%;
		font-size: 1.3vw;
	}

	#popular-artist-section
	{
		margin-bottom: 5vw;
	}

	#popular-artist-content-div
	{
		margin-top: 2vw;
		height: 80%;
	}

	.popular-artist-content
	{
		height: 80%;
	}

	.artist-name-content
	{
		font-size: 1.8vw;
	}

	#station-section
	{
		height: 12vw;
		width: 98%;
	}

	#station-logo
	{
		position: absolute;
		left: 2%;
		top: 11%;
		height: 76%;
		width: 17%;
	}


	.station-contents-text
	{
		font-size: 2vw;
	}

	#mood-section
	{
		height: 15vw;
		margin-bottom: -2vw;
	}

	.mood-text
	{
		font-size: 3vw;
	}

	#latest-english-hindi
	{
		margin-top: 7vw;
	}

	#latest-english-hindi-content-div
	{
		margin-top: 2vw;
	}

	.latest-english-hindi-content
	{
		height: 80%;
	}

	.english-hindi-name-content
	{
		font-size: 1.5vw;
	}

	.english-hindi-date-content
	{
		font-size: 1.2vw;
	}

	#aside-section
	{
		display: none;
		height: 78vh;
		width: 30vw;
		top: 8vw;
		border-radius: 2vw;
		border-bottom-left-radius: 0vw;
	}

	.song-box
	{
		height: 5vw;
		margin-top: 0.7vw;
	}


	#aside-hover-arrow i
	{
		display: block;
		top: 43vh;
		right: 2vw;
		font-size: 5vw;
		position: fixed;
		color: white;
	}

	#aside-top
	{
		width: 30vw;
		background: rgba(20, 25, 58, 1.0);
		border-top-left-radius: 0vw;
	}

	.serial-number
	{
		position: absolute;
		left: 0.4vw;
		font-size: 1.5vw;
		top: 1.8vw;
	}

	#serial-number-play
	{
		color: lightblue;
		top: 2vw;
		font-size: 1.5vw;
	}

	#light-box-close
	{
		display: block;
	}

	#light-box-close a
	{
		text-decoration: none;
		color: white;
	}

	#aside-section:target
	{
		right: 1vw;
		background-color: rgba(20, 25, 58, 1.0);
		display: inline-block;
		position: fixed;
		color: white;
		z-index: 10;
	}


	#player-box
	{
		height: 7vw;
	}

	#player-img
	{
		width: 7vw;
		left: 3vw;
	}

	#player-song-name
	{
		top: 1.5vw;
		left: 12vw;
		font-size: 1.8vw;
	}

	#player-artist
	{
		font-size: 1.5vw;
		top: 3.8vw;
		left: 12vw;
	}

	#player-favourite-initial,#player-favourite-hover
	{
		display: none;
	}

	#player-restriction
	{
		display: none;
	}

	#player-suffle
	{
		left: 33vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-previous
	{
		left: 40vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-seek-prev
	{
		left: 44vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-play,#player-pause
	{
		position: absolute;
		left: 48.2%;
		right: 48.2%;
		font-size: 2.2vw;
		top: 0.5vh;
		border: 1px solid white;
		background-color: rgba(20, 25, 58, 1.0);
		padding: 0.6vw 0.0vw 0.4vw 0.65vw;
		border-radius: 100%;
	}

	#player-play
	{
		padding: 0.6vw 0.0vw 0.4vw 0.8vw;
	}
	#player-play
	{
		color: white;
		z-index: 1;
	}

	#player-pause
	{

		color: white;
		z-index: 2;
	}

	#player-pause:hover
	{
		background-color: transparent;
		color: transparent;
		z-index: 1;
	}

	#player-play:hover
	{
		color: white;
		z-index: 2;
	}

	#player-seek-next
	{
		position: absolute;
		right: 44vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-next
	{
		position: absolute;
		right: 40vw;
		font-size: 1.8vw;
		top: 1.2vw;
	}

	#player-repeat
	{
		position: absolute;
		right: 33vw;
		font-size: 1.6vw;
		top: 1.2vw;
	}

	#left-duration
	{
		position: absolute;
		left: 28vw;
		font-size: 1.5vw;
		top: 4vw;
	}

	#player-first-strap
	{
		position: absolute;
		left: 32vw;
		font-size: 1vw;
		top: 4.8vw;
		border: 1.5px solid gray;
		background-color: gray;
		width: 35.7%;
	}

	#player-first-strap-covered
	{
		position: absolute;
		left: 32vw;
		font-size: 1vw;
		top: 4.8vw;
		border: 1.5px solid green;
		background-color: green;
		width: 9.5%;
	}

	#player-first-strap-cursor
	{
		position: absolute;
		left: 41.5vw;
		font-size: 1vw;
		top: 4.5vw;
		border: 5px solid white;
		border-radius: 50%;
		
	}
	#right-duration
	{
		position: absolute;
		right: 28vw;
		font-size: 1.5vw;
		top: 4vw;
	}


	#player-playlist-bars
	{
		position: absolute;
		right: 16vw;
		font-size: 1.8vw;
		top: 2.5vw;
	}

	#player-playlist-play
	{
		position: absolute;
		right: 16.7vw;
		font-size: 1vw;
		top: 2.0vw;
		border: 1px dotted transparent;
		background-color: rgba(20, 25, 58, 0.9);
	}

	#airplay
	{
		position: absolute;
		right: 12vw;
		font-size: 1.8vw;
		top: 2.5vw;
	}


	#volume-logo
	{
		position: absolute;
		right: 8vw;
		font-size: 1.8vw;
		top: 2.5vw;
	}

	#volume-strap
	{
		display: none;
		position: absolute;
		right: 7.8vw;
		font-size: 1vw;
		bottom: 4.5vw;
		background-color: white;
		border: 2px solid orange;
		border-radius: 5px;
		height: 13vw;
		width: 2vw;
	}

	#volume:hover #volume-strap
	{
		display: block;
	}

	#player-second-strap-covered
	{
		position: absolute;
		font-size: 1vw;
		bottom: 0;
		height: 10vw;
		background-color: green;
		width: inherit;
		border-bottom-left-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	#volume-logo:hover+#volume-strap
	{
		display: block;
	}
	#zoom-player
	{
		position: absolute;
		right: 4.5vw;
		font-size: 2vw;
		top: 2.3vw;
	}

	#zoom-player i
	{
		transform: rotate(45deg);
	}
}










@media screen and (max-width: 650px)
{
	#top-row
	{
		height: 9vw;
	}
	
	#website-logo
	{
		width: 8vw;
	}
	
	#website-logo-image
	{
		top: 1vw;
		font-size: 6vw;
	}
	#website-logo-top-heading
	{
		top: 2.2vw;
		left: 9vw;
		font-size: 1.7vw;
	}
	
	#website-logo-bottom-heading
	{
		left: 9vw;
		top: 4vw;
		font-size: 2.5vw;
	}
	
	#favourites-text
	{
		display: none;
	}
	
	
	#favourites-replace
	{
		display: block;
		top: 3vw;
	}
	
	#search-box
	{
		top: 2vw;
		width: 53vw;
		height: 4vw;
	}
	
	
	#search-icon
	{
		top: 1vw;
		font-size: 2vw;
	}
	
	#search-text
	{
		font-size: 2vw;
	}
	
	#search-text-input
	{
		width: 42vw;
		font-size: 2vw;
	}
	
	#search-mic
	{
		font-size: 2vw;
	}
	
	#notification-logo
	{
		position: absolute;
		top: 2.5vw;
	}
	
	#notification-logo i
	{
		font-size: 3vw;
	}
	
	#notification-dot
	{
		left: 1.6vw;
		top: 0.6vw;
	}
	
	#Account-Picture
	{
		top: 1vw;
	}
	
	#Account-Picture img
	{
		width: 6vw;
	}
	
	main
	{
		height: auto;
		text-align: center;
		position: relative;
		margin-bottom: 15vw;
		margin-top: 9vw;
	}
	
	
	content
	{
		display: inline-block;
		margin-left: 5vw;
		height: auto;
		width: 90vw;
	}

	#highlight-section
	{
		height: 32vw;
		margin-top: 4vw;
		margin-bottom: 4vw;
	}

	.highlight-content
	{
		height: 30vw;
	}
	
	#latest-release-section
	{
		width: 100%;
		height: 50vw;
	}
	
	.section-heading
	{
		font-size: 3.5vw;
	}

	#latest-release-content-div
	{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
		align-items: center;
		height: 80%;
		width: 90vw;
	}
	
	.latest-release-content
	{
		position: relative;
		height: 30%;
		width: 47%;
		top: 10%;
		border-radius: 1vw;
		background-color: rgba(20, 25, 58, 0.4);
	}
	
	.latest-release-content-img
	{
		top: 1vw;
		height: 80%;
		width: 9vw;
	}
	
	.latest-release-song-name
	{
		left: 12vw;
		font-size: 2vw;
	}
	
	.latest-release-song-date
	{
		left: 12vw;
		font-size: 1.5vw;
	}
	
	.latest-release-song-option-logo
	{
		font-size: 1.5vw;
	}
	
	.latest-release-song-option-dropdown li
	{
		font-size: 2vw;
	}
	
	.latest-release-song-option-dropdown i
	{
		margin-right: 4vw;
	}
	
	.dropdown-text
	{
		padding-left: 3vw;
	}
	
	.latest-release-song-duration
	{
		font-size: 1.5vw;
	}

	#popular-artist-section
	{
		margin-bottom: 8vw;
	}
	
	.artist-name-content
	{
		font-size: 2vw;
	}
	
	#station-section
	{
		margin-bottom: 5vw;
	}
	
	.station-contents-text
	{
		font-size: 2.5vw;
	}

	#mood-section
	{
		margin-bottom: -5vw;
	}
	
	.mood-text
	{
		position: absolute;
		font-size: 4vw;
	}
	
	#latest-english-hindi
	{
		margin-top: 10vw;
	}

	.english-hindi-name-content
	{
		font-size: 2.2vw;
	}
	
	.english-hindi-date-content
	{
		margin-top: 2%;
		font-size: 1.5vw;
	}

	#aside-section
	{
		display: none;
		height: 83vh;
		width: 30vw;
		top: 8vw;
		border-radius: 2vw;
		border-bottom-left-radius: 0vw;
		/* border: 1px solid white; */
	}
	
	#aside-hover-arrow i
	{
		top: 44.8vh;
	}
	
	#light-box-close
	{
		top: 8vw;
		height: 83%;
	}

	#light-box-close i
	{
		margin-top: 39vh;
	}
	
	#aside-top
	{
		height: 7vw;
	}
	
	#aside-my-playlist-heading
	{
		font-size: 2.5vw;
		top: 1.5vw;
	}
	
	
	#aside-queue-heading
	{
		font-size: 1.5vw;
		top: 1.5vw;
	}
	
	
	#aside-down-arrow
	{
		font-size: 1.5vw;
		top: 1.5vw;
	}
	
	.aside-down-heading-content li
	{
		font-size: 1.8vw;
	}
	
	#song-row
	{
		height: 100%;
		width: 100%;
	}
	
	.extra-div-aside
	{
		height: 7vw;
	}
	
	.song-box
	{
		height: 6vw;
		margin-top: 1vw;
	}
	
	.serial-number
	{
		font-size: 1.8vw;
		top: 2.3vw;
	}
	
	.aside-song-img
	{
		left: 4vw;
		width: 22%;
	}
	
	.aside-song-name
	{
		top: 1vw;
		left: 40%;
		font-size: 2vw;
	}
	
	.aside-song-artist
	{
		font-size: 1.5vw;
		top: 3.3vw;
		left: 40%;
	}
	
	
	.aside-fav-logo-hover,.aside-fav-logo-initial
	{
		font-size: 2vw;
		top: 1.3vw;
	}
	
	#player-box
	{
		height: 9vw;
	}
	
	#player-img
	{
		width: 9vw;
	}
	
	#player-song-name
	{
		top: 2vw;
		left: 15vw;
		font-size: 2.3vw;
	}
	
	#player-artist
	{
		position: absolute;
		font-size: 1.8vw;
		top: 5.3vw;
		left: 15vw;
	}
	
	#player-suffle
	{
		display: none;
	}
	
	#player-previous
	{
		left: 35vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-seek-prev
	{
		left: 41vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-play,#player-pause
	{
		left: 47.9%;
		right: 47.9%;
		font-size: 2.6vw;
		top: 1vh;
		padding: 0.6vw 0.0vw 0.4vw 0.8vw;
	}

	#player-seek-next
	{
		right: 41vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-next
	{
		right: 35vw;
		font-size: 2.5vw;
		top: 2.2vw;
	}

	#player-repeat
	{
		display: none;
	}

	#left-duration
	{
		left: 27vw;
		font-size: 2.2vw;
		top: 5.5vw;
	}

	#player-first-strap
	{
		left: 32vw;
		top: 6.5vw;
		border: 2px solid gray;
		background-color: gray;
		width: 35.7%;
	}

	#player-first-strap-covered
	{
		position: absolute;
		left: 32vw;
		font-size: 1vw;
		top: 6.5vw;
		border: 2px solid green;
		background-color: green;
		width: 9.5%;
	}

	#player-first-strap-cursor
	{
		left: 41.5vw;
		font-size: 1vw;
		top: 6vw;
		
	}
	#right-duration
	{
		right: 27vw;
		font-size: 2.2vw;
		top: 5.5vw;
	}

	
	
	#player-playlist-bars
	{
		display: none;
	}

	#player-playlist-play
	{
		display: none;
	}

	#airplay
	{
		display: none;
	}


	#volume-logo
	{
		position: absolute;
		right: 13vw;
		font-size: 2.5vw;
		top: 3vw;
	}

	#volume-strap
	{
		right: 12.5vw;
		bottom: 6.2vw;
		height: 20vw;
		width: 3vw;
	}

	#volume:hover #volume-strap
	{
		display: block;
	}

	#player-second-strap-covered
	{
		height: 15vw;
	}

	#volume-logo:hover+#volume-strap
	{
		display: block;
	}
	#zoom-player
	{
		right: 6vw;
		font-size: 2.8vw;
		top: 2.6vw;
	}
}
